@use '_breakpoints' as *;

:host {
    display: grid;
    grid-template-rows: 0 minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
        'bar'
        'main';
}

.progress-bar {
    grid-area: bar;
    z-index: 2;
}

.mat-drawer-container {
    grid-area: main;
}

.mat-drawer-container,
.mat-drawer-content {
    overflow: unset;
}

.mat-drawer {
    overflow: unset;

    > ::ng-deep.mat-drawer-inner-container {
        overflow: unset;
    }
}

main {
    display: flex;
    justify-content: center;

    padding: 2rem;
    @include media('<small') {
        padding: 1.5rem 1rem;
    }
}

.menu-container {
    flex-grow: 1;
    max-width: 60rem;
    @include media('<small') {
        max-width: 20rem;
    }
}

.menu-sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
