@use '_breakpoints' as *;

.card-header {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @include media('<small') {
        flex-direction: column;
    }
}

.thumbnail {
    width: 10rem;
    height: unset;
    aspect-ratio: 1/1;

    @include media('<small') {
        width: 100%;
    }
}

.default-thumbnail {
    @extend .thumbnail;
    display: grid;

    mat-icon {
        padding: 5%;
        width: unset;
        height: unset;
    }
}

.thumbnail-link {
    display: contents;
}

.item-details {
    flex-grow: 1;
    display: grid;

    @include media('>=small') {
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            'name'
            'desc'
            '.'
            'price'
            'subitems';
    }

    @include media('<small') {
        grid-template-areas:
            'name       price'
            'desc       desc'
            'subitems   subitems';
    }

    .name {
        grid-area: name;
    }

    .description {
        grid-area: desc;
    }

    .price {
        grid-area: price;
    }

    .subitems {
        grid-area: subitems;
    }
}
