<h1>Article</h1>

<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Consequuntur esse dolor aperiam quod error temporibus illum quos blanditiis
    nihil molestias, dicta, repudiandae, dignissimos facere dolore iste
    repellendus accusamus quam ea? Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Consequuntur esse dolor aperiam quod error temporibus
    illum quos blanditiis nihil molestias, dicta, repudiandae, dignissimos
    facere dolore iste repellendus accusamus quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Consequuntur esse dolor aperiam quod error temporibus illum quos blanditiis
    nihil molestias, dicta, repudiandae, dignissimos facere dolore iste
    repellendus accusamus quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Consequuntur esse dolor aperiam quod error temporibus illum quos blanditiis
    nihil molestias, dicta, repudiandae, dignissimos facere dolore iste
    repellendus accusamus quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Consequuntur esse dolor aperiam quod error temporibus illum quos blanditiis
    nihil molestias, dicta, repudiandae, dignissimos facere dolore iste
    repellendus accusamus quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Consequuntur esse dolor aperiam quod error temporibus illum quos blanditiis
    nihil molestias, dicta, repudiandae, dignissimos facere dolore iste
    repellendus accusamus quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Consequuntur esse dolor aperiam quod error temporibus illum quos blanditiis
    nihil molestias, dicta, repudiandae, dignissimos facere dolore iste
    repellendus accusamus quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Consequuntur esse dolor aperiam quod error temporibus illum quos blanditiis
    nihil molestias, dicta, repudiandae, dignissimos facere dolore iste
    repellendus accusamus quam ea?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur esse
    dolor aperiam quod error temporibus illum quos blanditiis nihil molestias,
    dicta, repudiandae, dignissimos facere dolore iste repellendus accusamus
    quam ea.
</p>

<hr />
<br />

@defer (on hover; prefetch on idle) {
    <app-comments />
} @placeholder {
    <app-placeholder/>
} @loading {
    <app-loading/>
} @error {
    <app-error/>
}
