:host {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 10em;
    height: 20rem;
    background-color: rgba($color: green, $alpha: 0.2);
    border-radius: 1rem;
}
