<ng-template #imageDialog>
    @if (item$ | async; as item) {
        <div class="mat-typography preview-top">
            <div class="image-close-container">
                <h2 class="caption">{{ item.name }}</h2>
                <button mat-icon-button mat-dialog-close>
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>

        <div class="placeholder">
            <mat-spinner color="accent" />
        </div>

        <img [src]="item.imagePath | compressedMenuImage" class="image" />
    }
</ng-template>
