$image-min-width: 350px;
$image-min-height: 350px;

.image {
    max-height: 100vh;
    max-width: 100vw;
    min-width: $image-min-width;
    min-height: $image-min-height;
    object-fit: contain;
    z-index: 1;
}

.preview-top {
    max-height: 0;
    overflow: visible;
    position: relative;
    z-index: 2;
}

.image-close-container {
    position: absolute;
    top: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;

    .caption {
        margin: 0;
        padding: 0 1rem;
        text-shadow: 0 0 10px black;
    }

    button {
        text-shadow: 0 0 6px black;
    }
}

.placeholder {
    max-height: 0;
    overflow: visible;
    position: relative;
    top: calc(($image-min-height + 50px) / 2);

    display: grid;
    justify-content: center;
    align-content: center;
}
