@use '_breakpoints' as *;

.section-caption {
    padding: 0 1rem;
}

.items {
    display: grid;
    gap: 1rem;

    @include media('>=medium') {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
